body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
a {
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --black: rgb(33, 33, 33);
  --gray: rgb(112, 117, 122);
  --gray-search: rgb(230, 231, 233);
  --blue_light: rgb(66, 133, 244);
  --red_light: rgb(234, 67, 53);
  --yellow: rgb(251, 188, 5);
  --green: rgb(52, 168, 83);
}
header {
  height: 100%;
  width: 100%;
}
.accesos__list {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  justify-content: space-between;
}
.accesos__list li a {
  text-decoration: none;
  list-style: none;
}
.accesos__items {
  justify-content: space-between;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.accesos__items a {
  color: var(--black);
  text-decoration: none;
}
.accesos__items-image img {
  border-radius: 50%;
  overflow: hidden;
  height: 2rem;
  width: 2rem;
}
.hero {
  height: 80vh;
  width: 100%;
  display: grid;
  justify-content: center;
}
.hero .hero__title {
  margin-top: 4rem;
  width: 40vw;
  height: 6rem;
}
.hero__title img {
  width: 100%;
}

.hero__searcher input {
  height: 1.5rem;
  width: 81%;
  border: transparent;
}
.hero__input {
  border: 0.1rem solid var(--gray-search);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  border-radius: 2rem;
}
.hero__input .search {
  width: 1rem;
  height: 1rem;
  background-size: 1rem 1rem;
}
.hero__input .microphone {
  width: 1rem;
  height: 1rem;
  background-size: 1.5rem 1.5rem;
}
.hero__button :hover {
  border: 0.1rem solid var(--gray-search);
}
.hero__button button {
  border: none;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  color: var(--gray);
}
.info_container {
  height: 100%;
  width: 100%;
}
.info-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.info-items a {
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 1rem;
  color: var(--gray);
}
.terms_container {
  height: 100%;
  width: 100%;
}
.terms-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.terms-items a {
  margin: 1rem 1rem;
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 1rem;
  color: var(--gray);
}
@media screen and(min-width:500px) {
  .accesos__list {
    display: flex;
    justify-content: flex-end;
  }
  .hero__title span {
    font-size: 6rem;
  }
}
@media screen and(min-width:640px) {
  .hero {
    grid-auto-columns: minmax(35rem, auto);
  }
  .hero__input {
    height: 2rem;
  }
  .hero__input .search {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1rem 1rem;
  }
  .hero__input .microphone {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem 1.5rem;
  }
  .hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero__button button {
    width: 10rem;
    height: 2.2rem;
  }
  footer {
    display: flex;
    font-size: 3rem;
  }
  .info-list {
    justify-content: end;
  }
  .info-items {
    margin: 0 0.5rem;
  }
  .info-items a {
    font-size: 0.8rem;
  }
  .terms-list {
    justify-content: flex-end;
  }
}
@media screen and(min-width:955px) {
  footer {
    display: flex;
    font-size: 3rem;
  }
  .info-list {
    justify-content: end;
  }
  .info-items {
    margin: 0 0.5rem;
  }
  .info-items a {
    font-size: 0.9rem;
  }
  .terms-list {
    justify-content: flex-end;
  }
  .terms-items {
    margin: 0 0.5rem;
  }
  .terms-items a {
    font-size: 0.9rem;
  }
}
