body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --black: rgb(33, 33, 33);
  --gray: rgb(112, 117, 122);
}
.accesos__items {
  display: flex;
  align-items: center;
}
header {
  height: 100%;
  width: 100%;
}
.accesos {
  display: flex;
}
.accesos__list {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accesos__items a {
  margin: 0 0.5rem;
}
/* image hero */
.accesos__items-image {
  border-radius: 50%;
  overflow: hidden;
  height: 2rem;
  width: 2rem;
  margin: 0 0.5rem;
}
.accesos__items-image span {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-image: url(./image/fotodeprueba.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
