.hero {
  height: 70vh;
}
.hero .hero__title img {
  width: 27vw;
  height: 8rem;
}
.hero__title {
  display: flex;
  justify-content: center;
}
.hero__button button {
  font-size: 0.9rem;
}
footer {
  display: flex;
  font-size: 3rem;
  margin-top: 4rem;
}
.info-list {
  justify-content: end;
}
.info-items {
  margin: 0 0.5rem;
}
.info-items a {
  font-size: 0.9rem;
}
.terms-list {
  justify-content: flex-end;
}
.terms-items {
  margin: 0 0.5rem;
}
.terms-items a {
  font-size: 0.9rem;
}
